fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.0
python-multipart==0.0.9
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
lightgbm==4.5.0
torch==2.4.1
torchvision==0.19.1
Pillow==10.4.0
opencv-python==4.10.0.84
optuna==3.6.1
shap==0.46.0
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.5
pytorch-grad-cam==1.5.2
